<div class="row section-<%= styleClass %>">
    <h1>
        <%= viewTitle %> : Update
    </h1>
    <div class="small button-group round">
        <a href="<_%= path('home') %_>" class="button secondary"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="<_%= path('<%= routeName %>_index') %_>" class="button secondary"><i class="fa fa-fw fa-chevron-left"></i> Back</a>
    </div>
    <div class="content-create">
        <form action="<_%= path('<%= routeName %>_update_post', {id:document.id}) %_>" method="post">
            <div class="row">
                <div class="columns medium-6 medium-centered">
                    <fieldset class="fieldset">
                        <legend>Data</legend>
                        <label>Name
                            <input type="text" name="name" value="<_%= document.name %_>"/>
                        </label>
                        <label>Description
                            <textarea name="description"><_%= document.description %_></textarea>
                        </label>
                    </fieldset>
                </div>
            </div>
            <div class="row gutter-margin-top">
                <div class="columns small-3 small-centered">
                    <input type="submit" class="button round fullwidth" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>